<div class="grid grid-cols-1 md:grid-cols-2 max-w-7xl mx-auto px-4 py-32 space-y-4">
  <div>
    <h2 class="text-4xl tracking-tight font-noto">Acerca de mi</h2>
  </div>
  <div class="space-y-8">
    <p>
      Hola, soy una artista del tatuaje con pasión por el dibujo y los detalles;
      me encunetro en constante aprendizaje, perfeccionando mi tecnica para
      ofrecer tatuajes delicados, con significado y mucho corazón. En <i
        >CATNIP</i
      > cada diesño es personalizado, cuidado y creado con amor para que tu experiencia
      sea única y memorable.
    </p>

    <p>
      Me inspiran los trazos finos, lo simbolico y la conexión que se crea con
      cada persona. Si buscas un tatuaje hecho con calma, cariño y atención,
      estas en el lugar correcto.
    </p>
  </div>
</div>
